.video-page{
    margin-bottom: 20px;
}
.no-register-video{
    text-align: center;
}
.pagination {
    text-align: center;
    margin-top: 10px;
    color: red;
}
.page-numbers{
    border: 1px solid grey;
    text-decoration: none;
    padding: 10px 10px;
    margin: 0 3px;
    background-color:#C1C1C1;
    font-size: 14px;
    color: black;
}
.prev,
.next{
    cursor: pointer;
    border: none;
    background-color: rgba(33,33,33,0);
}
.prev svg,
.next svg {
    width: 24px;
    height: 24px;
}
.current{
    background-color:#555555;
    color: white;
}

@media screen and (max-width: 685px) {
    .page-numbers{
        font-size: 12px;
        padding: 7px 7px;
    }
}
